:root {
  /* Typeface */
  --typeface-sans: "Inter", sans-serif;
  --typeface-mono: "Source Code", monospace;

  /* Color */
  /* Background */
  --bg-color: #94a3b8;

  /* Main */
  --clr-main: #0f172a;

  /* Accent */
  --clr-accent: ;

  /* Greys */
  --clr-grey: #0f172a;

  /* Font Sizes */
  --font-10: 1rem;
  --font-12: 1.2rem;
  --font-14: 1.4rem;
  --font-16: 1.6rem;
  --font-18: 1.8rem;
  --font-20: 2rem;
  --font-24: 2.4rem;
  --font-30: 3rem;
  --font-32: 3.2rem;
  --font-36: 3.6rem;
  --font-44: 4.4rem;
  --font-52: 5.2rem;
  --font-62: 6.2rem;
  --font-74: 7.2rem;
  --font-86: 8.6rem;
  --font-98: 9.8rem;

  /* Font Weight */
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;

  /* Line Height */
  --line-height-1: 1;
  --line-height-17: 1.7;
  --line-height-11: 1.1;

  /* Letter Spacing */
  /* Negative */
  --letter-space-n05: -0.5px;
  --letter-space-n1: -1px;

  /* Positive */
  --letter-space-p05: 0.5px;
  --letter-space-p1: 1px;

  /* Spacing */
  --space-2: 0.2rem;
  --space-4: 0.4rem;
  --space-8: 0.8rem;
  --space-12: 1.2rem;
  --space-16: 1.6rem;
  --space-24: 2.4rem;
  --space-32: 3.2rem;
  --space-48: 4.8rem;
  --space-64: 6.4rem;
  --space-80: 8rem;
  --space-96: 9.6rem;
  --space-128: 12.8rem;

  /* Border */
  --border-1: 0.1rem solid var(--bg-shade);
  --border-3: 0.3rem solid var(--bg-shade);

  /* Border Radius */
  --radius-2: 0.2rem;
  --radius-5: 0.5rem;
  --radius-100: 10rem;
  --radius-round: 50%;
}
::selection {
  background-color: var(--clr-grey);
  color: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
  scroll-behavior: smooth;
}

/*************************/
/* BODY */
/*************************/
body {
  position: relative;
  font-family: var(--typeface-sans);
  font-size: var(--font-16);
  font-weight: var(--weight-400);
  line-height: var(--line-height-1);
  color: var(--clr-grey-light);;
  background-color: var(--bg-color);
}

/*************************/
/* REUSABLE COMPONENTS */
/*************************/

/* CONTAINER */
.container {
  margin: 0 auto;
  padding: 0 var(--space-48);
  max-width: 120rem;
}

/* GRIDS */
.grid {
  display: grid;
  column-gap: var(--space-48);
  row-gap: var(--space-96);
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* HEADINGS */
.pre-heading {
  display: inline-block;
  margin-bottom: var(--space-12);
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-p1);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: var(--weight-700);
  line-height: var(--line-height-11);
  letter-spacing: var(--letter-space-n1);
}

.heading-primary {
  margin-bottom: var(--space-32);
  font-size: var(--font-44);
}
.heading-secondary {
  margin-bottom: var(--space-96);
  font-size: var(--font-36);
}
.heading-tertiary {
  font-size: var(--font-30);
  margin-bottom: var(--space-24);
}

/* NAVIGATION */
.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: content;
  align-items: center;
  gap: var(--space-24);
}

.main-nav-item {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.main-nav-link, 
.main-nav-link:link, 
.main-nav-link:visited {
  color: var(--clr-grey);
}

.main-nav-link:hover, 
.main-nav-link:active {
  color: var(--bg-color);
}

.main-nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--radius-2);
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--clr-grey);
  transition: transform 0.15s ease-in;
  z-index: -1;
}

.main-nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* BUTTONS */
.btn,
.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  padding: var(--space-4) var(--space-8);
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  text-decoration: none;
  text-transform: uppercase;
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-p1);
  cursor: pointer;
}

/* LINKS */

.link, 
.link:link, 
.link:visited {
  display: inline-block;
  font-size: var(--font-16);
  text-decoration: none;
  color: var(--clr-grey);
}

.link:hover, 
.link:active {

}

strong {
  font-weight: var(--weight-500);
}

/*************************/
/* HELPER CLASSES */
/*************************/

.margin-right-sm {
  margin-right: var(--space-16);
}

.center-text {
  text-align: center;
}
