/*************************/
/* HEADER */
/*************************/
.header {
}

/*************************/
/* HERO */
/*************************/
.section-hero {
  padding: var(--space-96) 0;
}

.hero {
  margin: 0 auto;
  padding: 0 var(--space-48);
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: var(--space-48);
}

.hero-text-box {
}

.hero-text {
}

.hero-description {
  font-size: var(--font-18);
  line-height: var(--line-height-17);
  margin-bottom: var(--space-24);
}

.btn--hero:link, 
.btn--hero:visited {
  font-size: var(--font-24);
}

.btn--hero:hover, 
.btn--hero:active {

}

.hero-img-box {
}

/*************************/
/* JOURNEY */
/*************************/
.journey {
  padding: var(--space-96) 0;
}

.card-box {
  display: flex;
}

.card {
  margin-right: -1rem;
  border-radius: var(--radius-5);
  background-color: var(--bg-color);
  transition: box-shadow 0.15s ease-in, transform 0.15s ease-in;
  box-shadow: -0.5rem 0 1.2rem -0.5rem #111, 0 0 0 2px #333;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.card:hover {
  box-shadow: 0 0 1.2rem 0 var(--clr-main), 0 0 0 2px var(--clr-main);
  transform: translateX(-2rem);
}

.card-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-bottom: var(--space-12);
}

.card-text-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card-heading {
  margin-top: var(--space-32);
  font-size: var(--font-30);
  font-weight: var(--weight-500);
}

.card-description {
  margin-top: auto;
  font-size: var(--font-14);
  line-height: var(--line-height-17);
}

.link--cards {
  margin-top: var(--space-48);
}

/*************************/
/* ABOUT */
/*************************/
.section-about {
  position: relative;
  padding: var(--space-96) 0;
  /* background-color: var(--bg-color); */
}

.section-about::before,
.section-about::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10rem;
  /* background-color: var(--bg-color); */
}

/* .section-about::before {
  top: 0;
  right: 0;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: var(--bg-color);
  transform: translate(0, -99%);
  z-index: 1;
}

.section-about::after {
  bottom: 0;
  left: 0;
  clip-path: polygon(100% 0, 0 0, 0 100%);
  background-color: var(--bg-color);
  transform: translate(0, 99%);
} */

.about-text-box {

}

.about-text {
  font-size: var(--font-18);
  line-height: var(--line-height-17);
}

.about-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  width: 70%;
  border-radius: 50%;
}


/*************************/
/* FEATURED */
/*************************/
.section-featured {
  padding: var(--space-96) 0;
}

.featured {

}

.featured-text-box {

}

.featured-description {
  fon
}

.featured-img-box {

}


/*************************/
/* FOOTER */
/*************************/
.footer {
  padding: var(--space-128) 0;
}
