/*

 TODO -

*/

/*

  !Section: General CSS
  !Purpose: To style site wide properties

  !Author: Andre coetzer

*/

:root {
  --typeface-sans: "Inter", sans-serif;
  --typeface-mono: "Source Code", monospace;

  --bg-color: #22205a;

  --clr-shade: #191741;
  --clr-main: #312e81;
  --clr-tint: #46438e;
  --clr-accent: #fff;
  --clr-grey: #ff8500;
  --clr-notice: #facc15;
  --clr-notice-shade: #322904;

  --font-10: 1rem;
  --font-12: 1.2rem;
  --font-14: 1.4rem;
  --font-16: 1.6rem;
  --font-18: 1.8rem;
  --font-20: 2rem;
  --font-24: 2.4rem;
  --font-30: 3rem;
  --font-32: 3.2rem;
  --font-36: 3.6rem;
  --font-44: 4.4rem;
  --font-52: 5.2rem;
  --font-62: 6.2rem;
  --font-74: 7.2rem;
  --font-86: 8.6rem;
  --font-98: 9.8rem;

  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;

  --line-height-1: 1;
  --line-height-17: 1.7;
  --line-height-11: 1.1;

  --letter-space-n05: -0.5px;
  --letter-space-n1: -1px;

  --letter-space-p05: 0.5px;
  --letter-space-p1: 1px;

  --space-2: 0.2rem;
  --space-4: 0.4rem;
  --space-8: 0.8rem;
  --space-12: 1.2rem;
  --space-16: 1.6rem;
  --space-24: 2.4rem;
  --space-32: 3.2rem;
  --space-48: 4.8rem;
  --space-64: 6.4rem;
  --space-80: 8rem;
  --space-96: 9.6rem;
  --space-128: 12.8rem;

  --border-1: 0.1rem solid var(--bg-shade);
  --border-3: 0.3rem solid var(--bg-shade);

  --radius-2: 0.2rem;
  --radius-5: 0.5rem;
  --radius-100: 10rem;
  --radius-round: 50%;
}

::selection {
  background-color: var(--clr-grey);
  color: var(--clr-main);
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--clr-accent) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: var(--space-8);
  height: var(--space-8);
}

::-webkit-scrollbar-track {
  background: var(--clr-shade);
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  position: relative;
  border: thin solid var(--clr-grey);
  border-radius: var(--radius-5);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-tint);
}

html {
  font-size: 65.2%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: var(--typeface-sans);
  font-size: var(--font-16);
  font-weight: var(--weight-400);
  line-height: var(--line-height-1);
  color: var(--clr-grey);
  background-color: var(--clr-main);
}

/*

  !Section: Repeating Code
  !Purpose: Code that is repeat throughout the site is added here

  !Author: Andre coetzer

*/

.container {
  margin: 0 auto;
  padding: 0 var(--space-48);
  max-width: 120rem;
}

.container--blog {
  margin: 0 auto;
  padding: 0 var(--space-48);
  max-width: 100rem;
}

.grid {
  display: grid;
  column-gap: var(--space-48);
  row-gap: var(--space-96);
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
}

.grid--center-v {
  align-items: center;
}

.pre-heading--box {
  padding: var(--space-4) var(--space-8);
  border-radius: var(--radius-5);
  width: fit-content;
  display: flex;
  gap: var(--space-12);
  background-color: hsla(0, 0%, 100%, 0.1);
}

.pre-heading {
  display: block;
  margin-bottom: var(--space-12);
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-p1);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: var(--weight-700);
  line-height: var(--line-height-11);
  letter-spacing: var(--letter-space-n1);
}

.heading-primary {
  margin-bottom: var(--space-48);
  font-size: var(--font-44);
}
.heading-secondary {
  margin-bottom: var(--space-96);
  font-size: var(--font-36);
}
.heading-tertiary {
  font-size: var(--font-30);
  margin-bottom: var(--space-32);
}

/* 

  !Main Navigation 

*/

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-24);
  z-index: 1;
}

.main-nav-item {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.main-nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--clr-grey);
  width: 50%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-in;
  z-index: -1;
}

.main-nav-item:hover::before {
  transform: scaleX(1) translateX(100%);
  transform-origin: left;
}

.main-nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid var(--clr-accent);
  width: 50%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease-in;
  z-index: -1;
}

.main-nav-item:hover::after {
  transform: scaleX(1) translateX(-100%);
  transform-origin: right;
}

.main-nav-link,
.main-nav-link:link,
.main-nav-link:visited {
  color: var(--clr-grey);
}

.main-nav-link:hover,
.main-nav-link:active {
}

/* 

  !Mobile Navigation

*/
.mobile-nav {
  width: var(--space-48);
  height: var(--space-48);
  border: none;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey);
  box-shadow: 0 0.8rem 0.8rem -0.4rem var(--clr-shade);
  cursor: pointer;
}

.mobile-nav-icon {
  width: var(--font-44);
  height: var(--font-44);
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* 

  !Btns

*/

.btn,
.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  padding: var(--space-16) var(--space-32);
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  text-decoration: none;
  text-transform: uppercase;
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-p1);
  cursor: pointer;
}

/* 

!Back to Top Button 

*/

.btt-btn {
  width: var(--space-48);
  height: var(--space-48);
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: 2px solid hsla(0, 0%, 100%, 0.2);
  border-radius: var(--radius-round);
  display: none;
  justify-content: center;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.2);
  background-color: transparent;
  transition: border 0.15s ease-in, color 0.15s ease-in, transform 0.15s ease-in;
  cursor: pointer;
  z-index: 9999;
}

.btt-btn:hover {
  border: 2px solid var(--clr-accent);
  color: var(--clr-accent);
  transform: translateY(-5%);
}

.btt-icon {
  width: var(--font-24);
  height: var(--font-24);
}

/* 

  !Breadcrumb Navigation & 
  !Links

*/

.link,
.link:link,
.link:visited {
  display: inline-block;
  font-weight: var(--weight-500);
  text-decoration: none;
  line-height: var(--line-height-17);
  transition: border-bottom 0.15s ease-in, color 0.15s ease-in,
    transform 0.15s ease-in;
}

.link:hover,
.link:active {
  border-bottom: 1px solid transparent;
  color: var(--clr-accent);
  transform: translateY(-10%);
}

.link--breadcrumb {
  border-bottom: 1px solid var(--clr-shade);
  font-size: var(--font-14);
  color: var(--clr-shade);
}

.breadcrumb-nav {
  display: flex;
  margin-bottom: var(--space-12);
}

.breadcrumb-list {
  padding: var(--space-4) var(--space-8);
  border-radius: var(--radius-5);
  width: fit-content;
  list-style: none;
  display: flex;
  gap: var(--space-12);
  background-color: hsla(0, 0%, 100%, 0.1);
}

.breadcrumb-item {
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "\2022";
  display: inline-block;
  color: var(--clr-shade);
}

.breadcrumb-icon {
  width: var(--font-14);
  height: var(--font-14);
}

.link--pre-heading {
  border-bottom: 1px solid var(--clr-grey);
  font-size: var(--font-14);
  color: var(--clr-grey);
}

.link--toc{
  border-bottom: 1px solid transparent;
  font-size: var(--font-14);
  color: var(--clr-grey);
}

.link--inline {
  border-bottom: 1px solid var(--clr-grey);
  font-size: var(--font-18);
  color: var(--clr-grey);
}
.link--footer {
  border-bottom: 1px solid var(--clr-tint);
  font-size: var(--font-16);
  color: var(--clr-tint);
}

.notice-block {
  padding: 0.5rem 1rem;
  border-radius: var(--radius-5);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-12);
  color: var(--clr-notice-shade);
  background-color: var(--clr-notice);
  margin-bottom: var(--space-16);
}

.notice-icon {
  width: var(--font-24);
  height: var(--font-24);
}

.notice-message {
  font-size: var(--font-18);
  font-weight: var(--weight-500);
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-n05);
}

strong {
  font-weight: var(--weight-500);
}

/*

  !Section: Helper Classes
  !Purpose: Classes which act as helper classes are style here

  !Author: Andre coetzer

*/

.under-construction {
  opacity: 0.2;
}

.margin-right-sm {
  margin-right: var(--space-16) !important;
}

.margin-bottom-md {
  margin-bottom: var(--space-64) !important;
}

.center-text {
  text-align: center;
}

.highlight {
  font-weight: var(--weight-500);
  color: var(--clr-accent);
}

.current-page .card {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 0.2rem var(--clr-accent),
    0 0.8rem 1rem 0 hsla(222, 47%, 11%, 0.2);
}

.current-page .card-icon {
  transform: rotateY(1turn);
}

.current-page .pre-heading--cards {
  transform: translateX(1%);
}

.hide {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

/*

  !Section: Header
  !Purpose: To syle the header

  !Author: Andre coetzer

*/

.header {
  padding: 0 var(--space-48);
  height: 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--space-64);
  background-color: var(--clr-main);
  box-shadow: 0 0 1rem -0.4rem hsla(222, 47%, 11%, 0.4);
  z-index: 9999;
}

/*

  !Section: All Sections
  !Purpose: To syle all sections

  !Author: Andre coetzer

*/
.section-padding {
  padding: var(--space-96) 0;
}

/*

  !Section: Hero
  !Purpose: To syle the hero

  !Author: Andre coetzer

*/

.section-hero {
  position: relative;
  /* background-color: var(--clr-main); */
}

.sticky .section-hero {
  margin-top: var(--space-96);
}

.section-hero::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 70%;
  background-color: var(--bg-color);
  clip-path: polygon(100% 20%, 0 100%, 100% 100%);
  z-index: -1;
}

.hero {
  margin: 0 auto;
  padding: 0 var(--space-48);
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: var(--space-48);
  z-index: 1;
}

.hero-text-box {
}

.apostrophe {
  color: var(--clr-accent);
  cursor: pointer;
}

.hero-description {
  font-size: var(--font-18);
  line-height: var(--line-height-17);
  margin-bottom: var(--space-32);
}

.btn--hero-full,
.btn--hero-full:link,
.btn--hero-full:visited {
  border-radius: var(--radius-5);
  font-size: var(--font-18);
  color: var(--clr-main);
  background-color: var(--clr-grey);
  transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
  box-shadow: 0 0.8rem 0.5rem -0.5rem hsla(222, 47%, 11%, 0.4);
}

.btn--hero-full:hover,
.btn--hero-full:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.8rem 1rem 0 hsla(222, 47%, 11%, 0.2);
}

.btn--hero-outline,
.btn--hero-outline:link,
.btn--hero-outline:visited {
  border-radius: var(--radius-5);
  font-size: var(--font-18);
  color: var(--clr-grey);
  background-color: var(--clr-main);
  transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
  box-shadow: 0 0 0 1px, 0 0.8rem 0.5rem -0.5rem hsla(222, 47%, 11%, 0.4);
}

.btn--hero-outline:hover,
.btn--hero-outline:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 1px, 0 0.8rem 0.5rem -0.5rem hsla(222, 47%, 11%, 0.2);
}

.hero-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 80%;
}

/*

  !Page: Index
  !Purpose: To syle the page HTML

  !Author: Andre coetzer

*/

/*

  !Section: Journey
  !Purpose: To syle the hero

  !Author: Andre coetzer

*/

.section-journey {
  position: relative;
  background-color: var(--bg-color);
}

.card-box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: 1fr 1fr; */
  gap: var(--space-12);
}

.card-link,
.card-link:link,
.card-link:visited {
  display: inline-block;
  font-size: var(--font-18);
  text-decoration: none;
  color: var(--clr-grey);
}

.card-link:hover,
.card-link:active {
}

.card-link:nth-child(1) {
  grid-column: 1;
}

.card-link:nth-child(2) {
  grid-column: 2 / span 2;
}

.card-link:nth-child(3) {
  grid-column: 4 / span 2;
}

.card-link:nth-child(4) {
  grid-column: 1 / span 2;
}

.card-link:nth-child(5) {
  grid-column: 3 / span 3;
}

.card-link:nth-child(6) {
  grid-column: 1 / span 3;
}

.card-link:nth-child(7) {
  grid-column: 4 / span 2;
}

.card {
  position: relative;
  border-radius: var(--radius-5);
  background-color: var(--bg-color);
  transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
  box-shadow: 0 0 0 0.2rem var(--clr-tint),
    0 0.8rem 0.5rem -0.5rem var(--clr-shade);
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.card:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 0.2rem var(--clr-accent),
    0 0.8rem 1rem 0 hsla(222, 47%, 11%, 0.2);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: scale(2); */
  background-image: linear-gradient(
    to bottom right,
    hsla(242, 36%, 41%, 0.2),
    hsla(242, 36%, 41%, 0)
  );
  transition: all 0.25s ease-in;
  z-index: -1;
}

.card-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-bottom: var(--space-12);
  transition: transform 0.35s ease-in;
}

.card:hover .card-icon {
  transform: rotateY(1turn);
}

.card-text-box {
  display: flex;
  flex-direction: column;
  padding: var(--space-12);
}

.pre-heading--cards {
  transition: transform 0.15s ease-in;
}
.card:hover .pre-heading--cards {
  transform: translateX(1%);
}

/*

  !Section: About
  !Purpose: To syle the hero

  !Author: Andre coetzer

*/

.section-about {
  position: relative;
  background-color: var(--bg-color);
}

.about-text-box {
}

.about-text {
  font-size: var(--font-18);
  line-height: var(--line-height-17);
}

.about-text:last-child {
  margin-top: 2.4rem;
}

.about-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  width: 80%;
}

/*

  !Section: Featured
  !Purpose: To syle the hero

  !Author: Andre coetzer

*/

.section-featured {
  position: relative;
  background-color: var(--bg-color);
}

.featured {
}

.featured-text-box {
}

.featured-description {
  font-size: var(--font-18);
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-n05);
}

.featured-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-img {
  width: 80%;
}

/*

  !Section: Footer
  !Purpose: To syle the hero

  !Author: Andre coetzer

*/

.footer {
  position: relative;
  padding: var(--space-128) 0;
  border-top: 1px solid var(--clr-main);
  background-color: var(--bg-color);
}

.footer {
}

.footer-box {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-items: center;
  gap: var(--space-48);
}

.profile-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-pre-heading {
  font-weight: var(--weight-700);
  color: var(--clr-tint);
}

.footer-profile {
}

.footer-profile-img {
  padding: 0.2rem;
  border: 2px dashed #fff;
  position: relative;
  height: var(--font-98);
  border-radius: 50%;
  margin-bottom: var(--space-24);
  box-shadow: 0 0.8rem 0.8rem -0.4rem var(--clr-shade);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-24);
}

.social-link,
.social-link:link,
.social-link:visited {
  position: relative;
  color: var(--clr-tint);
  transition: transform 0.15s ease-in;
}

.social-link:hover,
.social-link:active {
  color: var(--clr-accent);
  transform: translateY(20%);
}

.social-link::before {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 50%;
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, 0);
  transition: transform 0.15s ease-in, opacity 0.15s ease-in;
  font-size: var(--font-14);
  opacity: 0;
  z-index: -1;
}

.social-link:hover::before {
  transform: translate(-50%, -150%);
  opacity: 1;
}

.social-icon {
  width: var(--font-24);
  height: var(--font-24);
}

.address-text-box {
  text-align: center;
  margin-top: var(--space-24);
}

.address {
  font-size: var(--font-16);
  font-style: normal;
  margin-bottom: var(--space-24);
  color: var(--clr-tint);
}

.email,
.email:link,
.email:visited {
  padding-bottom: var(--space-8);
  font-size: var(--font-16);
  font-weight: var(--weight-500);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  color: var(--clr-grey);
}

.email:hover,
.email:active {
  border-bottom: 1px solid var(--clr-grey);
}

.copyright-text {
  margin-top: auto;
}

.copyright {
  font-size: var(--font-14);
  color: var(--clr-tint);
}

.address-col {
}

.page-links-col {
}

.footer-list {
  margin-top: var(--space-24);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.footer-list-item {
}

.footer-list-link,
.footer-list-link:link,
.footer-list-link:visited {
}

.footer-list-link:hover,
.footer-list-link:active {
}

.site-links-col {
}

/*

  !Section: Note Cards
  !Purpose: To style the notes sections

  !Author: Andre coetzer

*/
.section-notes {
  background-color: var(--bg-color);
}

.note-box {
}

.note-box:not(:last-child) {
  margin-bottom: var(--space-80);
}

.note-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-12);
}

.note-link,
.note-link:link,
.note-link:visited {
  font-size: var(--font-18);
  text-decoration: none;
  color: var(--clr-grey);
}

.note-link:hover,
.note-link:active {
}

.note-card {
  position: relative;
  height: 100%;
  border-radius: var(--radius-5);
  background-color: var(--bg-color);
  transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
  box-shadow: 0 0 0 0.2rem var(--clr-tint),
    0 0.8rem 0.5rem -0.5rem var(--clr-shade);
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.note-card:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 0.2rem var(--clr-accent),
    0 0.8rem 1rem 0 hsla(222, 47%, 11%, 0.2);
}

.note-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: scale(2); */
  background-image: linear-gradient(
    to bottom right,
    hsla(242, 36%, 41%, 0.2),
    hsla(242, 36%, 41%, 0)
  );
  transition: all 0.25s ease-in;
  z-index: -1;
}

.note-card-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-bottom: var(--space-12);
  transition: transform 0.35s ease-in;
}

.note-card:hover .note-card-icon {
  transform: rotateY(1turn);
}

.note-text-box {
  display: flex;
  flex-direction: column;
  padding: var(--space-12);
}

.pre-heading--notes {
  transition: transform 0.15s ease-in;
}
.note-card:hover .pre-heading--notes {
  transform: translateX(1%);
}

.heading-notes {
}

/*

  !Section: Section Blog Padding
  !Purpose: To syle the each sections spacing within the actual notes page

  !Author: Andre coetzer

*/
.section-padding--blog {
  padding: var(--space-48) 0;
}

/*

  !Section: Blog Hero
  !Purpose: To syle the Notes Hero Section

  !Author: Andre coetzer

*/
.section-blog-hero {
  position: relative;
}

.section-blog-hero::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 70%;
  background-color: var(--bg-color);
  clip-path: polygon(100% 20%, 0 100%, 100% 100%);
  z-index: -1;
}

.sticky .section-blog-hero {
  margin-top: var(--space-96);
}

.blog-hero {
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 var(--space-48);
  display: grid;
  grid-template-columns: 25fr 75fr;
  justify-items: center;
  align-items: center;
  gap: var(--space-24);
}

.blog-hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-hero-img {
  width: 100%;
}

.blog-hero-text-box {
  justify-self: start;
}

/*

  !Section: Table of Contents
  !Purpose: To style the toc

  !Author: Andre coetzer

*/

.toc {
  grid-column: 2 / span 1;
  /* align-self: start; */
  align-self: start;
  border-radius: var(--radius-5);
  box-shadow: 0 0 0 2px var(--clr-shade);
}

.toc-box {
}

.toc-btn {
  width: 100%;
  padding: var(--space-12) var(--space-8);
  border: none;
  border-radius: var(--radius-5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-12);
  background: var(--clr-main);
  transition: background-color 0.15s ease-in;
  cursor: pointer;
  box-shadow: 0 0 0 2px var(--clr-shade);
  margin-bottom: var(--space-24);
}

.toc-btn:hover {
  background: hsla(0, 0%, 100%, 0.2);
}

.toc-btn-heading {
  color: var(--clr-grey);
  margin-bottom: 0;
}

.toc-icon {
  width: var(--font-24);
  height: var(--font-24);
  color: var(--clr-grey);
}

.toc-icon[name="remove-outline"] {
  display: none;
}

.toc-hidden-box {
  display: none;
  padding: 1rem 0.5rem;
}

.toc-open .toc-hidden-box {
  display: block;
}

.toc-open .toc-icon[name="add-outline"] {
  display: none;
}

.toc-open .toc-icon[name="remove-outline"] {
  display: block;
}

.toc-list {
  padding-left: var(--space-24);
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  list-style-type: circle;
}

.toc-item {
}

.link--toc,
.link--toc:link,
.link--toc:visited {
  display: inline-block;
  text-transform: none;
}

.link--toc:hover,
.link--toc:active {
}

/*

  !Section: Section Blog Content
  !Purpose: To syle the page HTML

  !Author: Andre coetzer

*/

.section-blog {
  background-color: var(--bg-color);
}
.blog {
  max-width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--space-24);
}

.lectures {
  grid-column: 1 / span 1;
  grid-row: 1;
  overflow-x: auto;
}

.lecture-text-box {
  margin-bottom: var(--space-64);
  padding-bottom: var(--space-64);
  border-bottom: 1px solid var(--clr-main);
}

/* .lecture-text-box:not(:first-child) {
  margin-top: var(--space-96);
} */

.lecture-text {
  margin-bottom: var(--space-24);
  font-size: var(--font-18);
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-n05);
}

.lecture-steps {
  margin: var(--space-48) var(--space-16);
  padding: var(--space-8);
  border-radius: var(--radius-5);
  list-style: none;
  display: flex;
  gap: var(--space-24);
  background-color: var(--clr-main);
}

.lecture-steps--item {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.lecture-steps--pre-heading {
  color: var(--clr-grey);
}

.lecture-steps--item-description {
  font-size: var(--font-14);
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-n05);
  color: var(--clr-accent);
}

.lecture-list {
  margin: 0 var(--space-16) var(--space-48);
  padding: var(--space-8);
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.lecture-list--item {

}

.lecture-list--item-description {
  font-size: var(--font-18);
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-n05);
}

.code-example {
  margin: var(--space-48) var(--space-16) var(--space-24);
  position: relative;
}

.code-example::before {
  content: "Code Example";
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--space-4) var(--space-8);
  border-radius: var(--radius-5);
  width: fit-content;
  height: fit-content;
  transform: translate(20%, -60%);
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-p1);
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right, 
    #f87171, 
    #fb923c,
    #fbbf24,
    #facc15,
    #a3e635,
    #4ade80,
    #34d399,
    #2dd4bf,
    #22d3ee,
    #38bdf8,
    #60a5fa,
    #818cf8,
    #a78bfa,
    #c084fc,
    #e879f9,
    #f472b6,
    #fb7185
  );
  background-size: 400%;
  animation: code-gradient 5s alternate-reverse infinite;
  z-index: 999;
}

@keyframes code-gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.code-example::after {
  content: "Code Example";
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--space-4) var(--space-8);
  border-radius: var(--radius-5);
  width: fit-content;
  height: fit-content;
  transform: translate(20%, -60%);
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  line-height: var(--line-height-17);
  letter-spacing: var(--letter-space-p1);
  color: transparent;
  background-color: var(--clr-shade);
  z-index: 99;
}

.lecture-code-box {
}

.lecture-code {
}

/*

  !section: Blog Navigation
  !Purpose: To syle the blog previous & next links

  !Author: Andre coetzer

*/

.section-blog-nav {
  background-color: var(--bg-color);
}

.blog-nav {
  margin: var(--space-4);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-48);
}

.prev-next-blog-link,
.prev-next-blog-link:link,
.prev-next-blog-link:visited {
  padding: var(--space-12);
  border: var(--space-2) solid var(--clr-shade);
  border-radius: var(--radius-5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-16);
  color: var(--clr-grey);
  background-color: var(--clr-main);
  text-decoration: none;
  transition: background-color 0.15s ease-in;
  cursor: pointer;
}

.prev-next-blog-link:hover,
.prev-next-blog-link:active {
  background-color: var(--clr-tint);
}

.prev-next-blog-link:not(:first-child) {
  justify-content: flex-end;
  text-align: end;
}

.prev-next-icon {
  width: var(--font-24);
  height: var(--font-24);
}

.prev-next-text-box {
}

.pre-heading--prev-next {
  border-bottom: 1px solid var(--clr-grey);
  margin-bottom: var(--space-8);
}

.prev-next-blog-name {
  font-size: var(--font-12);
}

/*

  !Section: Media Queries
  !Purpose: To syle the break points of the site

  !Author: Andre coetzer

*/

/*

  !Query for: Smaller Laptops
  !Size-px: 1344
  !Size-em: 84

*/

@media only screen and (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .section-hero::before {
    height: 60%;
  }
  .section-blog-hero::before {
    height: 60%;
  }
}

/*

  !Query for: Tablet Landscape
  !Size-px: 1200
  !Size-em: 74

*/

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .hero {
    column-gap: var(--space-24);
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: var(--space-16) var(--space-16);
  }
}

/*

  !Query for: Tablet Portrait
  !Size-px: 944
  !Size-em: 59

*/

@media only screen and (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .section-hero {
    padding: 0 0 var(--space-96);
  }

  .section-hero::before {
    height: 30%;
  }

  .section-blog-hero::before {
    height: 30%;
  }

  .link--breadcrumb {
    font-size: var(--font-16);
  }

  .hero {
    padding: 0 var(--space-96);
    text-align: center;
    grid-template-columns: 1fr;
    row-gap: var(--space-48);
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: var(--space-16) var(--space-16);
  }

  .hero-img-box {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-img {
    width: 60%;
  }

  .blog-hero-text-box {
    justify-self: center;
  }

  .footer-box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: start;
  }

  .profile-col {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .copyright {
    margin-top: var(--space-48);
  }

  /* 
  
    !Mobile Navigation
  
  */
  .header {
    position: relative;
    padding: var(--space-64) var(--space-32);
    justify-content: flex-end;
    z-index: 999;
  }

  .sticky .header {
    padding: var(--space-64) var(--space-32);
    background-color: transparent;
    box-shadow: none;
  }

  .main-nav {
    display: none;
  }

  .mobile-active .main-nav {
    display: block;
  }

  .mobile-active .main-nav-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-24);
    background-color: hsla(0, 0%, 0%, 0.4);
    backdrop-filter: blur(10px);
    z-index: 1;
  }

  .main-nav-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--clr-grey);
    width: 50%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in;
    z-index: -1;
  }

  .main-nav-item:hover::before {
    transform: scaleX(1) translateX(100%);
    transform-origin: left;
  }

  .main-nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--clr-accent);
    width: 50%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease-in;
    z-index: -1;
  }

  .main-nav-item:hover::after {
    transform: scaleX(1) translateX(-100%);
    transform-origin: right;
  }

  .main-nav-link,
  .main-nav-link:link,
  .main-nav-link:visited {
    position: relative;
    display: inline-block;
    padding: var(--space-16) var(--space-32);
    font-size: var(--font-24);
    font-weight: var(--weight-500);
    text-decoration: none;
    text-transform: uppercase;
    line-height: var(--line-height-17);
    letter-spacing: var(--letter-space-p1);
    color: var(--clr-accent);
    cursor: pointer;
    z-index: 9999;
  }

  .mobile-nav {
    width: var(--space-64);
    height: var(--space-64);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-grey);
    box-shadow: 0 0.8rem 0.8rem -0.4rem var(--clr-shade);
    cursor: pointer;
    z-index: 9999;
  }

  .mobile-active .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .mobile-active .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .note-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-hero {
    padding: 0 var(--space-24);
    grid-template-columns: 1fr;
    gap: var(--space-24);
  }
  .blog-hero-img {
    width: 70%;
  }

  .blog-hero-text-box {
    text-align: center;
  }
}

/*

  !Query for: Smaller Tablets
  !Size-px: 744
  !Size-em: 46.5

*/

@media only screen and (max-width: 46.5em) {
  .heading-primary {
    font-size: var(--font-36);
  }
  .heading-secondary {
    font-size: var(--font-32);
  }
  .heading-tertiary {
    font-size: var(--font-24);
  }

  /* 
  
    !Section spacing

  */

  .section-padding {
    padding: var(--space-64) 0;
  }

  .section-hero {
    padding: 0 0 var(--space-96);
  }

  .hero-img {
    width: 70%;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: var(--space-16) var(--space-16);
  }

  .container {
    padding: 0 var(--space-24);
  }

  .container--blog {
    padding: 0 var(--space-24);
  }

  .card-box {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-link:nth-child(1) {
    grid-column: 1;
  }

  .card-link:nth-child(2) {
    grid-column: 2 / span 2;
  }

  .card-link:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .card-link:nth-child(4) {
    grid-column: 3;
  }

  .card-link:nth-child(5) {
    grid-column: 1;
  }

  .card-link:nth-child(6) {
    grid-column: 2 / span 2;
  }

  .card-link:nth-child(7) {
    grid-column: 1 / -1;
  }

  /* 
  
    !Mobile Navigation

  */
  .header {
    padding: var(--space-64) var(--space-32);
  }

  .sticky .header {
    padding: var(--space-64) var(--space-32);
  }

  .note-cards {
    grid-template-columns: 1fr;
  }

  .blog {
    grid-template-columns: 1fr;
    gap: var(--space-24);
  }
  .toc {
    grid-column: 1 / span 1;
    grid-row: 1;
    margin-bottom: var(--space-48);
  }
  .lectures {
    grid-column: 1 / span 1;
    grid-row: 2;
    overflow-x: auto;
  }

  .section-blog-nav {
    padding: 0 0 var(--space-96);
  }
}

/*

  !Query for: Mobile Devices
  !Size-px: 544
  !Size-em: 34

*/

@media only screen and (max-width: 34em) {
  .header {
    padding: var(--space-64) var(--space-32);
  }

  .sticky .header {
    padding: var(--space-64) var(--space-32);
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .main-nav-list {
    gap: 0;
  }

  .breadcrumb-list {
    flex-wrap: wrap;
  }

  .link--breadcrumb {
    font-size: var(--font-14);
  }

  .hero {
    padding: 0 var(--space-24);
    text-align: center;
    grid-template-columns: 1fr;
  }

  .section-hero::before {
    height: 20%;
  }

  .section-blog-hero::before {
    height: 20%;
  }

  .btn--hero-full,
  .btn--hero-full:link,
  .btn--hero-full:visited {
    width: 100%;
    margin-bottom: var(--space-24);
  }

  .btn--hero-outline,
  .btn--hero-outline:link,
  .btn--hero-outline:visited {
    width: 100%;
  }

  .hero-img {
    width: 100%;
  }

  .card-box {
    grid-template-columns: 1fr;
  }

  .card-link:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .card-link:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .card-link:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .card-link:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .card-link:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
  }

  .card-link:nth-child(6) {
    grid-column: 1;
    grid-row: 6;
  }

  .card-link:nth-child(7) {
    grid-column: 1;
    grid-row: 7;
  }

  .about-img-box {
    grid-row: 1;
  }

  .about-img {
    width: 50%;
  }

  .featured-img-box:nth-child(2) {
    grid-row: 1;
  }

  .featured-img-box:nth-child(6) {
    grid-row: 5;
  }

  .featured-img {
    width: 60%;
  }

  .blog-hero-img {
    width: 100%;
  }

  .blog-nav {
    gap: var(--space-24);
  }

  .lecture-steps {
    flex-direction: column;
  }
}
